<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>facebook_pop_helper.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>44680CDF1BB286AA00D3D451</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>44680CF31BB286AB00D3D451</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>44680CFE1BB286AB00D3D451</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
